{% extends "layout" %}
{% block title %}Create a new post{% endblock title %}
{% block body %}
      <form method="POST" id="edit_post" action="/post/new">
	  <ul>
	      <li>title: <input type="text" name="title" /></li>
	      <li>body: <textarea id="edit_post" name="body" rows="10" cols="70"></textarea></li>
	      <li><input type="submit" value="Create" /></li>
	  </ul>
      </form>
{% endblock body %}
