<html>
  <head></head>
  <body>
      <h1>Create a new post</h1>
      <form method="POST" id="edit_post" action="/post/new">
	  <ul>
	      <li>title: <input type="text" name="title" /></li>
	      <li>body: <textarea id="edit_post" name="body" rows="10" cols="70"></textarea></li>
	      <li><input type="submit" value="Create" /></li>
	  </ul>
      </form>
  </body>
</html>
