<!DOCTYPE html>
<html>
    <head>
	<script src="/public/app.js"></script> 
	<title>
	    {{#if title}}
		{{title}}
	    {{else}}
		Digital Rodomontade
	    {{/if}}
	</title>
    </head>
    <body>
	<div class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <div class="container">
		<a class="navbar-brand" href="/">Digital Rodomontade</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
			<li class="nav-item">
			    <form action="/post/new">
				<input class="btn" type="submit" value="New Post" />
			    </form>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
	<div class="container">
	    {{#> body-block }}
	    {{/body-block}}
	</div>
    </body>
</html>
