<!DOCTYPE html>
<html>
    <head>
	<script src="public/app.js"></script> 
	<title>
	    {{#if title}}
		{{title}}
	    {{else}}
		Digital Rodomontade
	    {{/if}}
	</title>
    </head>
    <body>
	<h1><a href="/">Digital Rodomontade</a></h1>
	<form action="/post/new">
	    <input type="submit" value="Create a new post" />
	</form>
	{{#> body-block }}
	{{/body-block}}
    </body>
</html>
