<!DOCTYPE html>
<html>
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Digital Rodomontade
      {{/if}}
    </title>
  </head>
  <body>
    <h1>Digital Rodomontade</h1>
	{{#> body-block }}
	{{/body-block}}
  </body>
</html>
